.hero {
  background-color: var(--color-gray);
  height: 739px;
  background: url('../images/hero_bg.jpg') top center no-repeat;

  &__container {
    // border-left: 1px solid #d5d5d5;
    position: relative;
    height: calc(100% - 45px);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      width: 1px;
      height: 100%;
      background-color: #d5d5d5;
    }
  }

  &__title {
    padding-top: 145px;
    position: relative;
    padding-left: 32px;
    font-size: 45px;
    line-height: 56px;
    font-family: 'Nats', sans-serif;

    span {
      font-weight: 800;
      display: block;
      font-family: 'Montserrat';
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 7px;
      height: 100%;
      background-color: var(--color-green);
    }
  }

  &__benefits {
    margin-top: 45px;
  }

  &__order {
    margin-top: 55px;
    background-color: var(--color-green);
    border-radius: 7px;
    height: 55px;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 0 25px;
    transition: background 0.3s;
    margin-left: 35px;

    img {
      margin-left: 3px;
    }

    &:hover {
      background-color: darken($color-green, 10%);
    }
  }
}

.hero-benefits {
  padding-left: 32px;

  &__list {
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--color-green);
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.about-company {
  &__container {
  }

  &__title {
  }

  &__subtitle {
  }

  &__benefits {
    margin-top: 15px;
  }

  &__grid {
    display: grid;
    grid-template-columns: calc(100% - 262px - 50px) 262px;
    gap: 50px;

    @include md {
      grid-template-columns: calc(100% - 262px - 30px) 262px;
      gap: 30px;
    }
  }

  &__left {
    // padding-right: 50px;
  }

  &__right {
    &-title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
      margin-top: 10px;
    }
  }

  &__carousel {
    position: relative;
    margin-top: 25px;

    .swiper-slide {
      opacity: 0.4;
      transition: opacity 0.3s;

      &-active {
        opacity: 1;
      }
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;

    &-prev,
    &-next {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      border: 1px solid var(--color-green);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-pagination {
      position: relative;

      &-bullet {
        width: 25px;
        height: 25px;
        border: 1px solid #aace8f;
        background-color: transparent;
        opacity: 1;
        position: relative;

        &:not(:last-child) {
          margin-right: 20px;
        }

        &-active {
          &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: #86be5c;
          }
        }
      }
    }
  }

  &__slide {
    img {
      display: block;
      width: 100%;
    }
  }

  &__navigation {
    width: 262px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.about-company-benefits {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 15px;
    align-items: center;

    &:nth-child(1) {
      width: 200px;

      @include md {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: 300px;

      @include md {
        width: 100%;
      }
    }

    &:nth-child(3) {
      width: 225px;

      @include md {
        width: 100%;
      }
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-right: 15px;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.blog {
  background-color: #f9f9f9;
  // padding-top: 145px;
  // padding: 140px 0;

  &__container {
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      width: 1px;
      height: 100%;
      background-color: #d5d5d5;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 75px;

    @include md {
      gap: 30px;
    }
  }

  &__left {
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__articles {
    padding-left: 25px;
  }

  &__news {
    flex: 1 0 auto;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    padding-left: 25px;
    position: relative;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 6px;
      height: 50px;
      transform: translateY(-50%);
      background-color: var(--color-green);
    }
  }

  &__more {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-green);
    display: flex;
    align-items: center;

    &::after {
      content: '';
      width: 39px;
      height: 12px;
      background: url('../images/long-arrow--green.svg') center center no-repeat;
      margin-left: 15px;
    }
  }
}

.articles {
  margin-top: 55px;

  &__list {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.article {
  display: grid;
  grid-template-columns: 190px 1fr;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 7px;
  overflow: hidden;

  &__image {
    width: 190px;
    height: 206px;

    img {
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-black);
    display: inline-block;

    &:hover {
      color: var(--color-green);
    }
  }

  &__description {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    flex: 1 0 auto;
  }

  &__bottom {
    display: flex;
    align-items: center;

    @include md {
      justify-content: space-between;
    }
  }

  &__date,
  &__views {
    font-size: 14px;
    line-height: 18px;
    color: var(--color-gray);
    position: relative;
    padding-left: 30px;
  }

  &__date {
    background: url('../images/date-icon.svg') left center no-repeat;
    margin-right: 100px;

    @include md {
      margin-right: 0;
    }
  }

  &__views {
    background: url('../images/views-icon.svg') left center no-repeat;
  }
}

.news {
  margin-top: 55px;
  background-color: var(--color-white);
  border-radius: 7px;
  overflow: hidden;

  &__list {
    height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__image {
    img {
      display: block;
      width: 100%;
    }
  }

  &__content {
    padding: 20px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-black);
    display: inline-block;

    &:hover {
      color: var(--color-green);
    }
  }

  &__description {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    flex: 1 0 auto;
  }

  &__bottom {
    margin-top: 35px;
    display: flex;
    align-items: center;

    @include md {
      justify-content: space-between;
    }
  }

  &__date,
  &__views {
    font-size: 14px;
    line-height: 18px;
    color: var(--color-gray);
    position: relative;
    padding-left: 30px;
  }

  &__date {
    background: url('../images/date-icon.svg') left center no-repeat;
    margin-right: 100px;
  }

  &__views {
    background: url('../images/views-icon.svg') left center no-repeat;
  }
}

.map {
  height: 720px;
  position: relative;

  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__container {
    position: relative;
    z-index: 10;
    height: 100%;
  }

  &__legend {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(#fff, 0.45);
    background-color: var(--color-white);
    backdrop-filter: blur(8px);
    border-radius: 0px 8px 0px 0px;
    width: 300px;
    padding: 40px 15px 40px 30px;
  }

  &__contacts {
    position: absolute;
    top: -45px;
    right: 0;
    height: calc(100% + 45px);
    background-color: var(--color-white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 8px 8px 0px 0px;
  }
}

.map-legend {
  &__list {
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 25px;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    border-radius: 50%;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #464646;
  }

  &__phone,
  &__email {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #464646;

    &:hover {
      color: var(--color-green);
    }
  }
}

.map-contacts {
  width: 416px;
  padding: 36px 48px;

  &__title {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
  }

  &__form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
  }

  &__control {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #484848;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  &__input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-top: 8px;
    // transition: border 0.3s;
    font-size: 16px;

    &::placeholder {
      opacity: 1;
      color: #a6a6a6;
    }

    &:focus {
      border-left: 2px solid #5a6bff;
    }
  }

  &__textarea {
    width: 100%;
    display: block;
    height: 115px;
    resize: none;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-top: 8px;
    padding: 14px 16px;
    transition: border 0.3s;
    font-size: 16px;

    &::placeholder {
      opacity: 1;
      color: #a6a6a6;
    }

    &:focus {
      border-color: var(--color-green);
    }
  }

  &__submit {
    height: 52px;
    display: flex;
    align-items: center;
    background-color: var(--color-green);
    border-radius: 4px;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: var(--color-white);
    transition: background 0.3s;

    &:hover {
      background-color: darken($color-green, 10%);
    }
  }
}

._custom-select {
  $self: &;

  &-container {
    position: relative;
    box-sizing: border-box;
    margin-top: 8px;
    letter-spacing: normal;
    text-transform: none;

    select {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.is-open {
      #{$self}-panel {
        max-height: 200px;
        overflow-y: auto;
      }

      #{$self}-opener {
        border-left: 2px solid #5a6bff;

        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  &-opener {
    height: 48px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    outline: none;
    user-select: none;
    width: 100%;
    font-size: 16px;
    line-height: 48px;
    color: #212121;
    font-weight: 400;
    padding: 0 16px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      width: 8px;
      height: 6px;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #212121 transparent transparent transparent;
      transition: transform 0.3s;
      transform-origin: center;
    }
  }

  &-panel {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    background-color: var(--color-white);
    // border: 1px solid #ebebeb;
    box-shadow: 0px 15px 46px rgba(26, 26, 29, 0.12);
    border-radius: 4px;
    // filter: drop-shadow(0 -2px 0 #028fea);
    filter: drop-shadow(1px 1px 1px #ebebeb);
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, overflow-y 0.1s 0.3s;
  }

  &-option {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
    padding: 8px 15px;
    min-height: 44px;
    display: flex;
    align-items: center;

    &.has-focus {
      color: #5a6bff;
      background-color: #f7f7f7;
    }

    &[data-value='not-selected'] {
      pointer-events: none;
    }
  }
}

.trust-us {
  height: 222px;

  &__container {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 482px 1fr;
    align-items: center;
  }

  &__title {
    font-family: 'Nats', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    color: var(--color-white);
    position: relative;
    z-index: 1;
    padding-left: 32px;

    span {
      font-family: 'Montserrat';
      font-weight: 800;
    }
  }

  &__hand {
    position: absolute;
    top: 0;
    left: -378px;
    width: 861px;
    height: 100%;
    background: url('../images/trust-us_hand.png') left center no-repeat;
  }

  &__clients {
    position: absolute;
    top: 0;
    left: 445px;
    width: 100vw;
    height: 100%;
    background-color: #f6f6f6;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 65px 50%);
    padding-left: 100px;
    display: flex;
    align-items: center;
  }
}

.trust-us-clients {
  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }

  &__item {
  }
}

.about-company {
  &__container {
    padding-top: 130px;
    padding-bottom: 50px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      width: 1px;
      height: 100%;
      background-color: #d5d5d5;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 46px;
    font-weight: 800;
    position: relative;
    padding-left: 32px;
    margin: 0;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 8px;
      height: 70px;
      background-color: var(--color-green);
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 35px;
    padding-left: 32px;
  }

  &__text {
    font-size: 18px;
    line-height: 36px;
    margin-top: 20px;
    padding-left: 32px;
  }

  &__benefits {
    padding-left: 32px;
  }
}

.equipment {
  &__container {
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      width: 1px;
      height: 100%;
      background-color: #d5d5d5;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 46px;
    font-weight: 800;
    padding-left: 32px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 8px;
      height: 70px;
      background-color: var(--color-green);
    }
  }
}

.equipment-tabs {
  &__header {
    margin-left: 32px;

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
    }

    &-item {
      --border-color: var(--color-green);
      --icon-color: var(--color-green);
      --bg-color: transparent;
      --text-color: #747474;

      border: 1px solid var(--border-color);
      border-radius: 4px;
      height: 50px;
      cursor: pointer;
      color: var(--text-color);
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding-left: 25px;
      background-color: var(--bg-color);
      transition: 0.3s;

      &--blue {
        --border-color: #52ade1;
        --icon-color: #52ade1;
      }

      &--selected,
      &:hover {
        --bg-color: var(--color-green);
        --text-color: var(--color-white);
        --icon-color: var(--color-white);
        --border-color: var(--color-green);
      }

      @include md {
        padding-left: 0;
        justify-content: center;
      }
    }

    &-icon {
      margin-right: 18px;

      svg {
        display: block;
        fill: var(--icon-color);
      }

      @include md {
        margin-right: 10px;
      }
    }
  }
}

.equipment-tabs-body {
  margin-top: 50px;

  &__grid {
    display: grid;
    grid-template-columns: 25% 75%;
    // gap: 15px;
    // display: flex;
    overflow: hidden;
  }

  &__left {
    // flex: 0 0 300px;
  }

  &__right {
    // flex: 1 0 auto;
  }

  &__list {
  }

  &__item {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #8a8a8a;
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    transition: 0.3s;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 6px;
      height: 100%;
      background-color: #c5c5c5;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &--active,
    &:hover {
      color: #555;

      &::before {
        background-color: var(--color-green);
      }
    }
  }

  &__tab {
    display: none;

    &--active {
      display: block;
    }
  }

  &__subtab {
    display: none;

    &--active {
      display: block;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }

  &__more {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-green);
    display: flex;
    align-items: center;

    &::after {
      content: '';
      width: 39px;
      height: 12px;
      margin-left: 15px;
      background: url('../images/long-arrow--green.svg') center center no-repeat;
    }
  }

  &__carousel {
    margin-top: 20px;
    margin-bottom: 32px;

    .swiper-pagination {
      position: relative;

      &-bullet {
        width: 25px;
        height: 25px;
        border: 1px solid #aace8f;
        background-color: transparent;
        opacity: 1;
        position: relative;

        &:not(:last-child) {
          margin-right: 20px;
        }

        &-active {
          &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            // transform: translate(-50%, -50%);
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: #86be5c;
          }
        }
      }
    }
  }

  &__slider {
    .swiper-slide {
      height: auto;
    }

    &-navigation {
      margin-top: 15px;
      position: relative;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-prev,
    &-next {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      border: 1px solid var(--color-green);
      // position: absolute;
      // top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    // &-prev {
    //   left: 0;
    // }

    // &-next {
    //   right: 0;
    // }
  }

  &__slide {
    border: 1px solid #cecece;
    border-radius: 6px;
    height: 100%;
    padding: 25px 15px;
    // display: flex;
    // flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: var(--color-green);
    }

    &-image {
      // flex: 1 0 auto;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-name {
      font-size: 16px;
      line-height: 20px;
      height: 60px;
      overflow: hidden;
      font-weight: 500;
      letter-spacing: 0.04em;
      color: #434242;
      text-transform: uppercase;
      margin-top: 15px;
      text-align: center;
    }
  }

  &__manufactures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }
}

.modal-order {
}
