@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Nats';
  src: url('../fonts/NATS-Regular.ttf') format('truetype');
}

$base-font: 'PangolinRegular';
