<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <include src="header.html"></include>
        <block name="content"></block>
        <include src="footer.html"></include>
        <include src="modals.html"></include>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=18c8c06f-a2f8-4723-bc11-e005182f52e1"
            type="text/javascript"></script>
        <script src="/assets/js/app.js"></script>
    </div>
</body>

</html>