<footer class="footer">
	<div class="footer__container container">
		<div class="footer__copyright">
			&copy; 2020 Все права защищены.
		</div>

		<div class="footer__social social">
			<ul class="social__list">
				<li class="social__item">
					<a href="#" class="social__link">
						<img src="/assets/images/vk.svg" alt="">
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<img src="/assets/images/facebook.svg" alt="">
					</a>
				</li>
			</ul>
		</div>

		<div class="footer__made-by">
			Made by
			<img src="/assets/images/rocket-company.png" alt="">
		</div>
	</div>
</footer>