<header class="header">
	<div class="header__top header-top">
		<div class="header__container container">
			<button class="header__menu-burger">
				<img src="/assets/images/burger.svg" alt="">
			</button>

			<a href="#" class="header__logo logo">
				<img src="/assets/images/logo.png" alt="">
			</a>

			<ul class="header__info header-info">
				<li class="header-info__item">
					<div class="header-info__icon">
						<img src="/assets/images/geo-icon.png" alt="">
					</div>
					<div class="header-info__text">
						г.Москва, ул.Парковая 13-я, д.27, корп.1, комната 4
					</div>
				</li>
				<li class="header-info__item">
					<div class="header-info__icon">
						<img src="/assets/images/clock-icon.png" alt="">
					</div>
					<div class="header-info__text">
						Пн-Пт: 9.00 до 18.00 <br>
						Сб-Вс: выходной
					</div>
				</li>
				<li class="header-info__item">
					<div class="header-info__icon">
						<img src="/assets/images/geo-icon.png" alt="">
					</div>
					<div class="header-info__text">
						<a href="tel:+79772581790" class="header-info__phone">
							+7(977)258-17-90
						</a>
						<a href="mailto:zapros.tomt@gmail.com" class="header-info__email">
							zapros.tomt@gmail.com
						</a>
					</div>
				</li>
			</ul>

			<a href="tel:79772581790" class="header__mob-link">
				+7(977)258-17-90
			</a>

			<button class="header__cta">
				<span>Заказать звонок</span>
			</button>
		</div>
	</div>

	<div class="header__bottom">
		<div class="header__container container">
			<nav class="header__nav header-nav">
				<ul class="header-nav__list">
					<li class="header-nav__item">
						<a href="" class="header-nav__link">главная</a>
					</li>
					<div class="header-nav__separator"></div>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">услуги</a>
					</li>
					<div class="header-nav__separator"></div>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">о компании</a>
					</li>
					<div class="header-nav__separator"></div>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">клиентам</a>
					</li>
					<div class="header-nav__separator"></div>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">отзывы</a>
					</li>
					<div class="header-nav__separator"></div>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">статьи</a>
					</li>
					<div class="header-nav__separator"></div>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">новости</a>
					</li>
					<div class="header-nav__separator"></div>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">сотрудничество</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="header__menu header-menu">
		<div class="header-menu__head">
			<button class="header__menu-burger">
				<img src="/assets/images/close.svg" alt="">
			</button>

			<a href="#" class="header__logo logo">
				<img src="/assets/images/logo.png" alt="">
			</a>

			<a href="mailto:tomt@gmail.com" class="header__mob-link">
				tomt@gmail.com
			</a>

			<button class="header__cta">
				<span>Заказать звонок</span>
			</button>
		</div>

		<div class="header-menu__body">
			<div class="header-menu__nav">
				<ul class="header-menu__nav-list">
					<li class="header-menu__nav-item">
						<a href="#" class="header-menu__nav-link">
							Главная
						</a>
					</li>
					<li class="header-menu__nav-item">
						<a href="#" class="header-menu__nav-link">
							Услуги
						</a>
					</li>
					<li class="header-menu__nav-item">
						<a href="#" class="header-menu__nav-link">
							О компании
						</a>
					</li>
					<li class="header-menu__nav-item">
						<a href="#" class="header-menu__nav-link">
							Клиентам
						</a>
					</li>
					<li class="header-menu__nav-item">
						<a href="#" class="header-menu__nav-link">
							Отзывы
						</a>
					</li>
					<li class="header-menu__nav-item">
						<a href="#" class="header-menu__nav-link">
							Статьи
						</a>
					</li>
					<li class="header-menu__nav-item">
						<a href="#" class="header-menu__nav-link">
							Новости
						</a>
					</li>
					<li class="header-menu__nav-item">
						<a href="#" class="header-menu__nav-link">
							Сотрудничество
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="header-menu__footer">
			<ul class="header-menu__info">
				<li class="header-menu__info-item">
					<div class="header-menu__info-icon">
						<img src="/assets/images/geo-icon.png" alt="">
					</div>
					<div class="header-menu__info-text">
						г.Москва, ул.Парковая 13-я, д.27, корп.1, комната 4
					</div>
				</li>
				<li class="header-menu__info-item">
					<div class="header-menu__info-icon">
						<img src="/assets/images/clock-icon.png" alt="">
					</div>
					<div class="header-menu__info-text">
						Пн-Пт: 9.00 до 18.00 <br>
						Сб-Вс: выходной
					</div>
				</li>
			</ul>
		</div>
	</div>
</header>