<header class="header">
	<div class="header__top">
		<div class="header__container container">
			<a href="#" class="header__logo logo">
				<img src="/assets/images/logo.png" alt="">
			</a>
			<ul class="header__info header-info">
				<li class="header-info__item">
					<div class="header-info__icon">
						<img src="/assets/images/geo-icon.png" alt="">
					</div>
					<div class="header-info__text">
						г.Москва, ул.Парковая 13-я, д.27, корп.1, комната 4
					</div>
				</li>
				<li class="header-info__item">
					<div class="header-info__icon">
						<img src="/assets/images/clock-icon.png" alt="">
					</div>
					<div class="header-info__text">
						Пн-Пт: 9.00 до 18.00 <br>
						Сб-Вс: выходной
					</div>
				</li>
				<li class="header-info__item">
					<div class="header-info__icon">
						<img src="/assets/images/geo-icon.png" alt="">
					</div>
					<div class="header-info__text">
						<a href="tel:+79772581790" class="header-info__phone">
							+7(977)258-17-90
						</a>
						<a href="mailto:zapros.tomt@gmail.com" class="header-info__email">
							zapros.tomt@gmail.com
						</a>
					</div>
				</li>
			</ul>
			<button class="header__cta">
				Заказать звонок
			</button>
		</div>
	</div>

	<div class="header__bottom">
		<div class="header__container container">
			<nav class="header__nav header-nav">
				<ul class="header-nav__list">
					<li class="header-nav__item">
						<a href="" class="header-nav__link">главная</a>
					</li>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">услуги</a>
					</li>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">о компании</a>
					</li>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">клиентам</a>
					</li>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">отзывы</a>
					</li>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">статьи</a>
					</li>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">новости</a>
					</li>
					<li class="header-nav__item">
						<a href="" class="header-nav__link">сотрудничество</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>