<div class="equipment-tabs-body__head">
  <div class="equipment-tabs-body__header">
    Оборудование <span>- {{name}}</span>
  </div>
  <a href="#" class="equipment-tabs-body__more">
    Узнать подробнее
  </a>
</div>

<div class="equipment-tabs-body__carousel">
  <div class="equipment-tabs-body__slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="equipment-tabs-body__slide">
          <div class="equipment-tabs-body__slide-image">
            <img src="/assets/images/slide1.jpg" alt="">
          </div>
          <div class="equipment-tabs-body__slide-name">
            Дентальный рентгеновский аппарат
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="equipment-tabs-body__slide">
          <div class="equipment-tabs-body__slide-image">
            <img src="/assets/images/slide2.jpg" alt="">
          </div>
          <div class="equipment-tabs-body__slide-name">
            Рентгеновский аппарат X-MIND Unity
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="equipment-tabs-body__slide">
          <div class="equipment-tabs-body__slide-image">
            <img src="/assets/images/slide3.jpg" alt="">
          </div>
          <div class="equipment-tabs-body__slide-name">
            Рентгеновские трубки
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="equipment-tabs-body__slide">
          <div class="equipment-tabs-body__slide-image">
            <img src="/assets/images/slide4.jpg" alt="">
          </div>
          <div class="equipment-tabs-body__slide-name">
            Рентгеновский аппарат IMAX 7600
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="equipment-tabs-body__slide">
          <div class="equipment-tabs-body__slide-image">
            <img src="/assets/images/slide5.jpg" alt="">
          </div>
          <div class="equipment-tabs-body__slide-name">
            Аппарат рентгеновский АРМАН 8Л3 передвижной
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="equipment-tabs-body__slider-navigation">
    <button class="equipment-tabs-body__slider-prev">
      <img src="/assets/images/chevron-left.svg" alt="">
    </button>
    <div class="swiper-pagination"></div>
    <button class="equipment-tabs-body__slider-next">
      <img src="/assets/images/chevron-right.svg" alt="">
    </button>
  </div>
</div>

<div class="equipment-tabs-body__head">
  <div class="equipment-tabs-body__header">
    Производители
  </div>
  <a href="#" class="equipment-tabs-body__more">
    Все производители
  </a>
</div>

<div class="equipment-tabs-body__manufactures">
  <div class="equipment-tabs-body__manufactures-item">
    <img src="/assets/images/manufacturers1.png" alt="">
  </div>
  <div class="equipment-tabs-body__manufactures-item">
    <img src="/assets/images/manufacturers2.png" alt="">
  </div>
  <div class="equipment-tabs-body__manufactures-item">
    <img src="/assets/images/manufacturers3.png" alt="">
  </div>
  <div class="equipment-tabs-body__manufactures-item">
    <img src="/assets/images/manufacturers4.png" alt="">
  </div>
</div>